{% extends "layout.html" %}

{% block content %}

<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            var emotion_text = $('#input_emotion').val();
            var form = new FormData();
            form.append("emoji_input", emotion_text);

            var settings = {
                "url": "http://localhost:5555/detect_emoji",
                "method": "POST",
                "timeout": 0,
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": form
            };

            $.ajax(settings).done(function (response) {
                var json = $.parseJSON(response);
                $(json).each(function (i, val) {
                    $.each(val, function (k, v) {
                        if (k == "message")
                        {
                            var emotion_status = v.data[0]
                            if (emotion_status == "happy") {
                                $('#lblStatus3').html("Happy");
                                $('#showEmotion3').attr("src", "../static/images/happy.gif");
                            }
                            else if (emotion_status == "surprise") {
                                $('#lblStatus3').html("Surprise");
                                $('#showEmotion3').attr("src", "../static/images/surprise.gif");
                            }
                            else {
                                $('#lblStatus3').html("Other");
                                $('#showEmotion3').attr("src", "../static/images/neutral.gif");
                            }
                        }
                        else
                        {
                            console.log(k + " : " + v);
                        }
                    });
                }); 
            });
        });

        $("#recordButton").click(function () {
            $("#recordingsList").empty()
        });

        //$("#btnUpload").click(function () {
        //    $('#lblStatus').html("Uploading...");
            
        //    var form = new FormData();
        //    form.append("upload_speech", filename);

        //    var settings = {
        //        "url": "http://localhost:5555/upload_speech",
        //        "method": "POST",
        //        "timeout": 0,
        //        "processData": false,
        //        "mimeType": "multipart/form-data",
        //        "contentType": false,
        //        "data": form
        //    };

        //    $.ajax(settings).done(function (response) {
        //        var json = $.parseJSON(response);
        //        $(json).each(function (i, val) {
        //            $.each(val, function (k, v) {
        //                if (k == "message") {
        //                    var message = v.data[0]
        //                    $('#lblStatus').html(message);
        //                }
        //            });
        //        });
        //    });
        //});
    });
</script>
<div class="c-main">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card">
                    <header class="card-header"><b>Emotion Detection Inputs</b></header>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Input (Happy or Suprise): </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="input_emotion">
                        </div>
                        <br />
                        <p><strong>Record voice and submit to detect emotion:</strong></p>
                        <div id="controls">
                            <button id="recordButton">Record</button>
                            <button id="pauseButton" disabled>Pause</button>
                            <button id="stopButton" disabled>Stop</button>
                        </div>
                        <div id="formats">Format: start recording to see sample rate</div>
                        <p><strong>Recordings:</strong></p>
                        <ol id="recordingsList"></ol>
                    </div>
                    <footer class="card-footer">
                        <input class="btn btn-primary btn-sm" id="btnSubmit" value="Submit (Text Only)"></input>
                        <input class="btn btn-primary btn-sm" id="btnUpload" value="Upload"></input>
                    </footer>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <header class="card-header"><b>Result</b></header>
                    <div class="card-body">
                        <div id="lblStatus" class="alert alert-success" role="alert">

                        </div>
                        <br />
                        <div id='group_1_result'>
                            <strong>Group 1</strong>
                            <div id="lblStatus1" class="d-flex p-2 bd-highlight" role="alert">
                                Other
                            </div>
                            <img id="showEmotion1" src="../static/images/neutral.gif" style="width:50%" />
                        </div>

                        <div id='group_2_result'>
                            <strong>Group 2</strong>
                            <div id="lblStatus2" class="d-flex p-2 bd-highlight" role="alert">
                                Other
                            </div>
                            <img id="showEmotion2" src="../static/images/neutral.gif" style="width:50%" />
                        </div>

                        <div id='group_3_result'>
                            <strong>Group 3</strong>
                            <div id="lblStatus3" class="d-flex p-2 bd-highlight" role="alert">
                                Other
                            </div>
                            <img id="showEmotion3" src="../static/images/neutral.gif" style="width:50%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
